<!-- flsh welcome back message -->
<!-- <% if(message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
<% } %> -->
<div class="page-header">
    <h3><%=user.name %></h3>
</div>
<div class="row">
    <div class="well">
        <p>
            <strong>email</strong>: <%= user.email %>            
        </p>              
    </div>
</div>

<% user.images.forEach((e) => { %>
    <div id="profile-cards">
        <div class="card">
                <a href='/images/<%= e.id %>'><img id="profile-image" class="card-img-top" src="<%= e.url %>" alt="Card image cap"/></a>
                <div class="card-body">
                <h5 class="card-title"><%= e.location %></h5>
                </div>    
        </div>
    </div>
<% }) %>

<% if(loggedIn) { %>
    <form action="/users/edit" method="GET">
    <button class="btn btn-info" id="bl-btn"type="submit">Edit Profile</button>
    </form>
<% } %>