<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="<%= image.url %>" alt="First slide">
      </div>
    </div>
  </div>
  <h2><%= image.location %></h2>
  <div id = "weather-info">
    <img id = "weather-icon"/>
    <p id = "city-temperature">Current Temperature: <%= data.main.temp %> F</p>
    <p id = "city-humidity">Humidity: <%= data.main.humidity %> %</p>
  </div>
  <% if(loggedIn) { %>
    <a href="/images/<%= image.id%>/edit">Edit</a>
  <form action="/images/<%= image.id%>/delete?_method=DELETE" method="POST">
      <button>Delete</button>
  <% } %>
  </form>

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=<%= apiKey2 %>&q=<%= location %>" allowfullscreen>   
</iframe>


